@import './variable.styl'

body, h1, h2, h3, h4, h5, h6, p
	margin: 0
	padding: 0
ul, ol, dl
	margin: 0
p
	line-height: 180%
hr
	margin: 20px 0
	background-color: bd-color
	border: none
	height: 1px
a
	text-decoration: none
	color: primary-color
body
	color: common-text-color
	font-size: 14px
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif
	

/* 复写elementUI部分组件样样式*/

/* 复写mavonEditor编辑器样式 */
.v-note-wrapper .v-note-panel .v-note-edit.divarea-wrapper .content-input-wrapper,
.v-note-wrapper .v-note-panel .v-note-show .v-show-content, .v-note-wrapper .v-note-panel .v-note-show .v-show-content-html
	padding: 20px !important

/* 全局通用样式 */
.copy-info
	margin-top: 30px
	font-size: 13px
	color: secondary-text-color
	text-align: right

.fl-card
	background: white-color
	margin-bottom: 20px
	&:last-child
		margin-bottom: 0
	.fl-card-header
		padding: 20px
		width: 100%
		box-sizing: border-box
		border-bottom: solid 1px bd-color
		display: table
		min-height: 73px
		.fl-card-hl, .fl-card-hr
			display: table-cell
			vertical-align: middle
		.fl-card-hl
			text-align: left
		.fl-card-hr
			text-align: right
			.el-button
				padding: 0
				margin-left: 20px
			.el-input
				width: auto
				margin-left: 20px
	.fl-card-body
		padding: 20px

.tree-table
	width: 100%
	border: none
	tr:nth-child(odd)
		background: #f9f9f9
	tr:hover
		background: bd-color
	td
		padding: 15px
	td:first-child
		width: 25%
		font-weight: 600

.fl-form
	width: 100%
	.fl-form-title
		padding: 10px 15px
		background: #f7f7f7
		margin-bottom: 35px
		margin-top: 35px
		&:first-child
			margin-top: 0
	.fl-form-body
		width: 700px
		margin-left: 35px

.discuss
	display: flex
	border-bottom: solid 1px bd-color
	min-height: 200px
	&:last-child
		border-bottom: none
	.discuss-l, .discuss-r
		padding: 20px
		box-sizing: border-box
	.discuss-l
		width: 150px
		border-right: solid 1px bd-color
		text-align: center
		.avatar
			border-radius: 50%
	.discuss-r
		flex: 1
		.context
			margin-bottom: 40px
			.reply-box
				background: #f9f9f9
				padding: 20px
				margin-top: 20px
				.reply
					display: flex
					margin-bottom: 10px
					min-height: 34px
					&:last-child
						margin-bottom: 0
					div:first-child
						width: 34px
						text-align: right
					div:last-child
						flex: 1
						padding-left: 10px
						padding-top: 4px
		.footer
			font-size: 12px
			color: secondary-text-color
			&:after
				content: ''
				clear: both
			div:first-child
				float: left
			div:last-child
				float: right
				

.xk-card
	width: 100%
	&:after
		content: ''
		display: block
		clear: both
	.xk-card-left
		margin-right: -20px
		float: left
		width: 65%
		box-sizing: border-box	
		.box-card-item
			background: white-color
			margin-bottom: 20px
			padding: 20px
			&:last-child
				margin-bottom: 0
		
			.xk-span
				width: 80px
				font-weight: 600
				color: #666
				display: inline-block
				text-align: right
				margin-right: 10px
			
				
			
	.xk-card-right
		float: right
		width: 35%
		box-sizing: border-box
		.right-fix
			background:white-color
			padding: 20px
			margin-left: 20px
			div
				.xk-span
					width: 100px
					font-weight: 600
					color: #666
					display: inline-block
					text-align: right
					margin-right: 10px
			
		