/* 主要文本颜色 */
main-text-color = #303133
/* 常规文本颜色 */
common-text-color = #606266
/* 次要文本颜色 */
secondary-text-color = #909399
/* 白色 */
white-color = #ffffff

/* 边框颜色 */
bd-color = #ebeef5

/* 场景色定义 */
primary-color = #409EFF
success-color = #67C23A
warning-color = #E6A23C
danger-color = #F56C6C
info-color = #909399